<h1>Pirates</h1>
<form action="/pirates" method="post">
  <label for="pirate[name]">Name:</label>
  <input type="text" name="pirate[name]">
  <label for="pirate[weight]">Weight:</label>
  <input type="text" name="pirate[weight]">
  <label for="pirate[height]">Height:</label>
  <input type="text" name="pirate[height]">
<h1> Ships</h1>
<h2>Ship 1</h2>
  <!-- <label for="pirate[ships][][name]">Name:</label> -->
  <input id="ship_name_1" type="text" name="pirate[ships][][name]">

  <!-- <label for="pirate[ships][][type]">Type:</label> -->
  <input id="ship_type_1" type="text" name="pirate[ships][][type]">

  <!-- <label for="pirate[ships][][booty]">Booty:</label> -->
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">

  <h2>Ship 2</h2>
  <!-- <label for="pirate[ships][][name]">Name:</label> -->
  <input id="ship_name_2" type="text" name="pirate[ships][][name]">

  <!-- <label for="pirate[ships][][type]">Type:</label> -->
  <input id="ship_type_2" type="text" name="pirate[ships][][type]">

  <!-- <label for="pirate[ships][][booty]">Booty:</label> -->
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"><br><br>

  <input type="submit" value="Submit">
</form>





<!-- Make a nested form (this should probably have html <label>s so it makes sense to a user). This form will be creating three objects (one instance of the Pirate class, and two instances of the Ship class). Remember, you'll need to build a corresponding controller action to load this page. Your form should POST to the route '/pirates'. -->
